nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    

    .left{
        flex: 3;
        display: flex;
        align-items: center;
        gap: 50px;

        .logo{
            font-weight: bold;
            font-size: 20px;
            display: flex;
            gap: 10px;
            align-items: center;

            img{
                width: 28px;
            }
        }
    }

    .right {
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
    }

    .right a {
        padding: 12px 24px;
        margin: 20px;
        text-decoration: none;
        font-family: helvetica, sans-serif;
        font-size: 1.2rem;
    }

    .btn1 a {
        display: block;
        padding: 10px 20px;
        color: #272727;
        border: 3px solid #272727;
        border-radius: 10px;
        box-shadow: 4px 5px 0px 0px #272727;
        position: relative;
        overflow: hidden;
        margin: 0 20px;
        transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    }

    .btn1 a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #272727;
        transform-origin: bottom right;
        transform: translate(100%, 100%) rotate(-90deg);
        transition: transform 0.5s ease-in-out;
        z-index: -1;
    }

    .btn1 a:hover::before {
        transform: translate(0, 0) rotate(0deg);
    }

    .btn1 a:hover {
        color: white;
        box-shadow: none;
    }
        
}